@model SEOCRMTest.Models.WorkSpaceModels.Domain

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Domain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainDomain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainDomain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Redirect)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Redirect)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DomainAdminPanelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainAdminPanelId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DomainAdminPanel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainAdminPanel.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registrar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registrar.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusDomain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusDomain.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeDomain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeDomain.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
